<?xml version='1.0' encoding='utf-8'?>
<widget id="com.toutrix.jukenet" version="2.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>JukeNet</name>
    <description>
    </description>
    <author email="eric@jukenet.net" href="https://jukenet.net/">
        JukeNet
    </author>
    <content src="index.html" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="17" />
    <preference name="android-targetSdkVersion" value="23" />
    <preference name="android-build-tool" value="gradle" />
		<preference name="phonegap-version" value="cli-8.0.0" />
    <preference name="fullscreen" value="true" />
    <platform name="browser">
        <icon platform="android" qualifier="ldpi" src="www/res/icon/android/icon-36-ldpi.png" />
        <icon platform="android" qualifier="mdpi" src="www/res/icon/android/icon-48-mdpi.png" />
        <icon platform="android" qualifier="hdpi" src="www/res/icon/android/icon-72-hdpi.png" />
        <icon platform="android" qualifier="xhdpi" src="www/res/icon/android/icon-96-xhdpi.png" />
        <icon platform="android" qualifier="xxhdpi" src="www/res/icon/android/icon-144-xxhdpi.png" />
    </platform>
    <platform name="android">
        <icon platform="android" qualifier="ldpi" src="www/res/icon/android/icon-36-ldpi.png" />
        <icon platform="android" qualifier="mdpi" src="www/res/icon/android/icon-48-mdpi.png" />
        <icon platform="android" qualifier="hdpi" src="www/res/icon/android/icon-72-hdpi.png" />
        <icon platform="android" qualifier="xhdpi" src="www/res/icon/android/icon-96-xhdpi.png" />
        <icon platform="android" qualifier="xxhdpi" src="www/res/icon/android/icon-144-xxhdpi.png" />
    </platform>
    <platform name="ios">
        <icon height="57" platform="ios" src="www/res/icon/ios/icon.png" width="57" />
        <icon height="114" platform="ios" src="www/res/icon/ios/icon-2x.png" width="114" />
        <icon height="40" platform="ios" src="www/res/icon/ios/icon-40.png" width="40" />
        <icon height="80" platform="ios" src="www/res/icon/ios/icon-40-2x.png" width="80" />
        <icon height="50" platform="ios" src="www/res/icon/ios/icon-50.png" width="50" />
        <icon height="100" platform="ios" src="www/res/icon/ios/icon-50-2x.png" width="100" />
        <icon height="60" platform="ios" src="www/res/icon/ios/icon-60.png" width="60" />
        <icon height="120" platform="ios" src="www/res/icon/ios/icon-60-2x.png" width="120" />
        <icon height="180" platform="ios" src="www/res/icon/ios/icon-60-3x.png" width="180" />
        <icon height="72" platform="ios" src="www/res/icon/ios/icon-72.png" width="72" />
        <icon height="144" platform="ios" src="www/res/icon/ios/icon-72-2x.png" width="144" />
        <icon height="76" platform="ios" src="www/res/icon/ios/icon-76.png" width="76" />
        <icon height="152" platform="ios" src="www/res/icon/ios/icon-76-2x.png" width="152" />
        <icon height="29" platform="ios" src="www/res/icon/ios/icon-small.png" width="29" />
        <icon height="58" platform="ios" src="www/res/icon/ios/icon-small-2x.png" width="58" />
        <icon height="1024" platform="ios" src="www/res/icon/ios/icon-1024.png" width="1024" />
        <splash height="480" src="www/res/screen/ios/Default.png" width="320" />
        <splash height="960" src="www/res/screen/ios/Default@2x.png" width="640" />
        <splash height="1136" src="www/res/screen/ios/Default-568h@2x.png" width="640" />
        <splash height="1334" src="www/res/screen/ios/Default-667h@2x.png" width="750" />
        <splash height="2208" src="www/res/screen/ios/Default-Portrait-736h@3x.png" width="1242" />
        <splash height="1024" src="www/res/screen/ios/Default-Portrait.png" width="768" />
        <splash height="2048" src="www/res/screen/ios/Default-Portrait@2x.png" width="1536" />
    </platform>
    <access origin="*" />
    <access origin="cdvfile://*" />
    <allow-intent href="cdvfile://*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios" spec="^4.5.0" >
				<resource-file src="GoogleService-Info.plist" />
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <engine name="android" spec="^6.2.3" />
    <plugin name="cordova-plugin-facebook4" spec="^1.10.1">
        <variable name="APP_ID" value="1600570720267450" />
        <variable name="APP_NAME" value="JukeNet" />
    </plugin>
    <plugin name="cordova-plugin-facebookads" spec="^4.23.2" />
    <plugin name="cordova-plugin-file" spec="^6.0.1" />
    <plugin name="cordova-plugin-file-transfer" spec="^1.7.1" />
    <plugin name="cordova-plugin-geolocation" spec="^4.0.1">
        <variable name="GEOLOCATION_USAGE_DESCRIPTION" value="JukeNet need your location to identify if you are near a JukeNet player or the best places near you." />
    </plugin>
    <plugin name="cordova-plugin-whitelist" spec="^1.3.3" />
    <plugin name="cordova-plugin-x-socialsharing" source="npm" />
    <plugin name="phonegap-plugin-push" spec="^2.1.2">
        <variable name="SENDER_ID" value="226308297309" />
    </plugin>
    <plugin name="cordova-plugin-device" spec="~1.1.1" />
</widget>
